// Base Font
$font-size-base: 14px;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

// Font Family
$font-family-primary: "Nunito", sans-serif;
$font-family-secondary: "Poppins", sans-serif;
$font-awesome: "Fontawesome";

// Theme Colors Variables
$primary: #ffb800;
$primary-hover: color-mix(in srgb, $primary, black 10%);
$secondary: #092c4c;
$secondary-hover: color-mix(in srgb, $secondary, black 10%);
$success: #28c76f;
$success-hover: color-mix(in srgb, $success, black 10%);
$info: #17a2b8;
$info-hover: color-mix(in srgb, $info, black 10%);
$warning: #ff9900;
$warning-hover: color-mix(in srgb, $warning, black 10%);
$danger: #ff0000;
$danger-hover: color-mix(in srgb, $danger, black 10%);
$dark: #29344a;
$light: #f8f9fa;
$white: #ffffff;
$black: #000000;
$purple: #7367f0;
$pink: #ff63a5;
$blue: #3577f1;
$teal: #02a8b5;
$violet: #423b93;
$cyan: #299cdb;
$green: #1dd871;
// $orange: #ffa500;
$orange: #ffb800;
$indigo: #4d5ddb;
$yellow: #ffff00;

// Primary
$primary-100: #fff5ec;
$primary-200: #ffecd9;
$primary-300: #ffe2c7;
$primary-400: #ffd9b4;
$primary-500: #ffcfa1;
$primary-600: #ffc58e;
$primary-700: #ffbc7b;
$primary-800: #ffb269;
$primary-900: #ffa956;

// Secondary
$secondary-100: #e6eaed;
$secondary-200: #ced5db;
$secondary-300: #b5c0c9;
$secondary-400: #9dabb7;
$secondary-500: #8496a6;
$secondary-600: #6b8094;
$secondary-700: #536b82;
$secondary-800: #3a5670;
$secondary-900: #22415e;

// Success
$success-100: #eaf9f1;
$success-200: #d4f4e2;
$success-300: #bfeed4;
$success-400: #a9e9c5;
$success-500: #94e3b7;
$success-600: #7edda9;
$success-700: #69d89a;
$success-800: #53d28c;
$success-900: #3ecd7d;

// Warning
$warning-100: #fff5e6;
$warning-200: #ffebcc;
$warning-300: #ffe0b3;
$warning-400: #ffd699;
$warning-500: #ffcc80;
$warning-600: #ffc266;
$warning-700: #ffb84d;
$warning-800: #ffad33;
$warning-900: #ffa31a;

// Danger
$danger-100: #ffe6e6;
$danger-200: #ffcccc;
$danger-300: #ffb3b3;
$danger-400: #ff9999;
$danger-500: #ff8080;
$danger-600: #ff6666;
$danger-700: #ff4d4d;
$danger-800: #ff3333;
$danger-900: #ff1a1a;

// Purple
$purple-100: #f8f8fa;
$purple-200: #e3e1fc;
$purple-300: #d5d1fb;
$purple-400: #c7c2f9;
$purple-500: #b9b3f8;
$purple-600: #aba4f6;
$purple-700: #9d95f5;
$purple-800: #8f85f3;
$purple-900: #8176f2;

// White
$white-1: rgba(0, 0, 0, 0.1);
$white-2: rgba(0, 0, 0, 0.2);
$white-3: rgba(0, 0, 0, 0.3);
$white-4: rgba(0, 0, 0, 0.4);
$white-5: rgba(0, 0, 0, 0.5);
$white-6: rgba(0, 0, 0, 0.6);
$white-7: rgba(0, 0, 0, 0.7);
$white-8: rgba(0, 0, 0, 0.8);
$white-9: rgba(0, 0, 0, 0.9);

// Gray
$gray-100: #f3f6f9;
$gray-200: #eff2f7;
$gray-300: #e8ebed;
$gray-400: #dbe0e6;
$gray-500: #adb5bd;
$gray-600: #67748e;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "dark": $dark,
  "light": $light,
  "black": $black,
  "purple": $purple,
  "yellow": $yellow,
  "teal": $teal,
);

$text-color: #5b6670;
$title-color: #1b2850;
$sub-title: #b8bcc9;
$body-bg: #fafbfe;
$wrapper-bg: #f1f5f6;
$text-muted: #9595b5;
$default-background: #f7f8f9;
$black-bg: #141432;
$card-dark-bg: #1d1d42;
$navy: #353570;
$theme-title: #97a2d2;
$input-bg: #2c2c50;
$form-control-bg: #ffffff;

// Social Icons Colors
$facebook: #3b5998;
$twitter: #00acee;
$google: #dd4b39;
$telegram: #0088cc;
$linkedin: #0e76a8;
$youtube: #c4302b;
$instagram: #3f729b;
$reddit: #c6c6c6;
$pinterest: #cc2127;
$vk: #2b587a;
$rss: #ee802f;
$skype: #00aff0;
$xing: #126567;
$tumblr: #34526f;
$email: #6567a5;
$delicious: #205cc0;
$stumbleupon: #f74425;
$digg: #191919;
$blogger: #fc4f08;
$flickr: #ff0084;
$vimeo: #86c9ef;
$yahoo: #720e9e;
$gplus: #dd4b39;
$appstore: #000;

// Gradient Variables
$primary-gradient: linear-gradient(to right, $primary 0%, #8e77fa 100%);
$secondary-gradient: linear-gradient(to right, $secondary 0%, #28b7f9 100%);
$success-gradient: linear-gradient(to right, $success 0%, #5cf9e2 100%);
$warning-gradient: linear-gradient(to right, $warning 0%, #fbc434 100%);
$danger-gradient: linear-gradient(to right, $danger 0%, #fd4a68 100%);
$info-gradient: linear-gradient(to right, $info 0%, #00f2fe 100%);
$pink-gradient: linear-gradient(to right, $pink 0%, #ffa795 100%);
$teal-gradient: linear-gradient(to right, $teal 0%, #0695dd 100%);
$orange-gradient: linear-gradient(to right, $orange 0%, #fbb034 100%);
$purple-gradient: linear-gradient(to right, $purple 0%, #9b25b7 100%);
$light-gradient: linear-gradient(to right, $light 0%, #d1d6de 100%);
$dark-gradient: linear-gradient(to right, $dark 0%, #54505d 100%);

// Style Anchor Elements
$link-color: $primary;
$link-decoration: none;
$link-shade-percentage: 20%;
$link-hover-color: color-mix(in srgb, $link-color, black 10%);
$link-hover-decoration: null;
$spacer: 1rem;

// Border
$border-width: 1px;
$border-style: solid;
$border-color: $gray-400;
$default-border: $gray-400;
$input-border: #e9edf6;

// Border Radius
$border-radius: 4px;
$border-radius-sm: 3px;
$border-radius-lg: 5px;
$border-radius-xl: 8px;
$border-radius-xxl: 12px;
$rounded: 50%;
$rounded-pill: 1.5rem;

// Box Shadow
$box-shadow: 0px 4px 60px 0px rgba(231, 231, 231, 0.47);
$box-shadow-sm: 0px 4px 60px 0px rgba(190, 190, 190, 0.27);
$box-shadow-lg: 0 5px 10px rgba(30, 32, 37, 0.12);

// Font Size
$font-size-8: 8px;
$font-size-9: 9px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-40: 40px;
$font-size-42: 42px;
$font-size-50: 50px;
$font-size-54: 54px;
$font-size-60: 60px;

$h1-fs: 2rem;
$h2-fs: 1.75rem;
$h3-fs: 1.5rem;
$h4-fs: 1.25rem;
$h5-fs: 1.15rem;
$h6-fs: 1rem;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
