@use "../utils/variables" as *;

.table-wrapper {
  // flex: 1;
  min-width: 0 !important;
  overflow-x: auto;
}

.react-select__menu {
  z-index: 3 !important;
}

.form-layout-card {
  border: 0 !important;
  border-top: 1px solid #cccccc !important;
  border-radius: 0 !important;
}

.MuiDateRangeCalendar-root div:first-child {
  font-size: 0px !important;
}

// SweetAlert2 button styling
.swal2-confirm {
  background-color: $primary !important;
  border-color: $primary !important;

  &:hover {
    background-color: $primary-hover !important;
    border-color: $primary-hover !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.5) !important;
  }
}

.portal-logo-upload {
  .profile-pic {
    width: 168px;
    height: 66px;
  }
}
